

html, body {
  height: 100%; 
  margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 {
    display: flex;
    justify-content: center;
}
.functionality {
    background-color: #eaf7ea;
    border-color: black;
    border-radius: 10px;
    padding: 24px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
}

.inputs input {
    border: none;
    outline: none;
    background-color: #f3f3f3;
    border-radius: 6px;
    padding: 6px 8px;
}

.input1, .input2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: none;;
}

.change {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dollars {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.coins-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.coin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px
}

#calculate-change {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 18px;
    cursor: pointer;
    background-color: lightgreen;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px 40px;
}
